h5 {
    margin: 0;
    padding: 0;
}

#app-root {
    font-family: Roboto, sans-serif;
}

.app-content {
    align-items: center;
    text-align: center;
}

.section {
    margin: 8px auto;
    padding: 8px;
    border: 1px dashed lightgray;
    border-radius: 4px;
}

.section-content {
}
